.chat-container {
    max-height: 400px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    border-radius: 8px;
    padding: 16px;
  }
  
  .chat-message {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .customer, .agent {
    max-width: 70%;
    word-wrap: break-word;
  }
  
  .customer {
    align-self: flex-start;
  }
  
  .agent {
    align-self: flex-end;
  }
  
  .message-bubble {
    border-radius: 16px;
    padding: 8px 16px;
    min-width: 10%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
  }
  
  .message-text {
    margin-bottom: 4px;
    color: black;
  }
  
  .message-time {
    font-size: 12px;
    color: black;
    margin-top: auto;
    align-self: flex-end;
  }
  
  .red {
    background-color: #ffcccb;
  }
  
  .yellow {
    background-color: #ffffcc;
  }
  
  .green {
    background-color: #c3e6cb;
  }
  